/ClasspathBasedIdeTypesProposalProvider.java
/IIdeTypesProposalProvider.java
/OverrideProposalUtil.java
/TypeFilters.java
/mbaseIdeContentProposalPriorities.java
/mbaseIdeContentProposalProvider.java
/mbaseIdeCrossrefProposalProvider.java
