/ClasspathBasedIdeTypesProposalProvider.java
/IIdeTypesProposalProvider.java
/OverrideProposalUtil.java
/TypeFilters.java
/XbaseIdeContentProposalPriorities.java
/XbaseIdeContentProposalProvider.java
/XbaseIdeCrossrefProposalProvider.java
