/AbstractConstantExpressionsInterpreter.java
/ConstantExpressionEvaluationException.java
/ConstantOperators.java
/Context.java
/StackedConstantExpressionEvaluationException.java
/SwitchConstantExpressionsInterpreter.java
/UnresolvableFeatureException.java
