/AbstractClosureTypeTest.java
/AbstractClosureTypeTest2.java
/AbstractConstructorCallTypeTest.java
/AbstractExpectationTest.java
/AbstractFeatureCallTypeTest.java
/AbstractIdentifiableTypeTest.java
/AbstractTypeArgumentTest.java
/AbstractTypeParameterSubstitutorTest.java
/Bug412894Test.java
/ClosureTypeTest1.java
/ClosureTypeTest2.java
/ClosureTypeTest3.java
/ErrorTest.java
/ExpectationTest.java
/ExpectationTestingTypeComputer.java
/InvokedResolvedOperationTest.java
/LightweightTypeParameterSubstitutorTest.java
/LightweightTypeReferenceSerializerTest.java
/ResolvedOperationTest.java
/StandardTypeParameterSubstitutorTest.java
/TestAppender.java
/TypeComputationStateTest.java
/TypeResolutionCancelTest.java
/AbstractTypeResolverTest.java
/ArrayTypesTest.java
/ErrorWithLogicalContainerTest.java
/ExpressionScopeTest.java
/RecursionGuardTest.java
/ResolvedFeaturesTest.java
/ResolvedTypesTest.java
/StringLiteralTest.java
