/AbstractURIHandlerTest.java
/AbstractURIHandlerWithEcoreTest.java
/FileInSourceAndPackagedProjectTest.java
/FileInSourceMavenAndPackagedProjectTest.java
/FilesInDifferentProjectModelTest.java
/FilesInDifferentProjectSourceFoldersTest.java
/FilesInModelAndSourceDifferentProjectsTest.java
/FilesInModelAndSourceMavenDifferentProjectsTest.java
/FilesInSameSourceFolderTest.java
/FilesInSourceAndModelDifferentProjectsTest.java
/FilesInSourceAndModelSameProjectTest.java
/FilesInSourceMavenAndModelDifferentProjectsTest.java
/LoadedByClasspathBothFromMavenStructureTest.java
/LoadedByClasspathBothFromMavenStructureTest2.java
/LoadedByClasspathFromMavenStructureTest.java
/LoadedByClasspathFromMavenStructureTest2.java
/LoadedByClasspathFromModelFolderURITest.java
/LoadedByClasspathFromModelFolderURITest2.java
/LoadedByClasspathFromSourceFolderTest.java
/LoadedByClasspathFromSourceFolderTest2.java
/UnexpectedProxiesException.java
/UnexpectedResourcesException.java
