/BooleanResult.java
/ConstantConditionsInterpreter.java
/DefaultEarlyExitComputer.java
/EarlyExitInterpreter.java
/EvaluationContext.java
/EvaluationResult.java
/IConstantEvaluationResult.java
/ThisReference.java
