/IndexingLightweightTypeReferenceFactory.java
/IndexingOwnedConverter.java
/LightweightBoundTypeArgument.java
/LightweightMergedBoundTypeArgument.java
/LightweightTraversalData.java
/LightweightTypeReferenceSerializer.java
